[Unit]
Description=System Message Bus Socket

[Socket]
ListenStream=/run/dbus/system_bus_socket
FileDescriptorName=system_bus_socket
Service=dbus.service

[Install]
WantedBy=sockets.target
