[Unit]
Description=Start getty on /dev/tty4

[Service]
ExecStart=/sbin/agetty -o '-p -- \\u' /dev/tty4
Type=simple
Restart=always

[Install]
WantedBy=getty.target