usage: chpst [-vVPFI012N] [-u user[:group]] [-U user[:group]] [-b argv0] [-e dir] [-/ root] [-C pwd] [-n nice] [-l|-L lock] [-A n] [-m n] [-d n] [-o n] [-p n] [-f n] [-c n] [-t n] prog

100
$Id: e9e0db8b3da6a77c3b6e8c8d6a1e4ca9011b9782 $
usage: chpst [-vVPFI012N] [-u user[:group]] [-U user[:group]] [-b argv0] [-e dir] [-/ root] [-C pwd] [-n nice] [-l|-L lock] [-A n] [-m n] [-d n] [-o n] [-p n] [-f n] [-c n] [-t n] prog

100
test=1
0
0
0
0
0
111
chpst: fatal: unable to run: ./ENOENT.err: file does not exist
0
111
chpst: fatal: unable to run: ./ENOENT.err: file does not exist
ALRM
0
