usage: lksyslogd [-tttvL] [-r c] [-R abc] [-l len] [-b buflen] dir ...

111
$Id: f4f0f6621d06281d29c8a2718ba17684add4d35c $
usage: lksyslogd [-tttvL] [-r c] [-R abc] [-l len] [-b buflen] dir ...

111
0
foo
0
foo
bar
baz
0
foo
bar
baz
:oo
:ar
:az
0
